{% load static %}
<footer id="footer" class="footer-simple">
        <div class="footer-inner tt-wrap">
                <div id="footer-logo">
                        <a href="/" class="logo-light">
                                <img src="{% static 'zeynep-resurs/logo.png' %}" alt="Zeynep Brendi Logotipi"
                                        width="400" loading="lazy">
                        </a>
                </div>

        </div>
        <a style="transform:translateY(-50px);" href="#body" class="scrolltotop sm-scroll" title="Tepaga chiqish">
                <i class="fas fa-chevron-up"></i>
        </a>
</footer>