<header id="header" class="header-transparent header-show-hide-on-scroll menu-align-right">
    <div class="header-inner tt-wrap">
        <nav class="tt-main-menu">
            <div id="tt-m-menu-toggle-btn">
                <span></span>
            </div>
            <div class="tt-menu-tools">
                <ul>
                    <li class="tt-dropdown-wrap tt-dropdown-master tt-dropdown-dark tt-dropdown-right tt-tools-lang">
                        <a href="#0" >EN</a>
                        <ul class="tt-dropdown">
                            <li><a href="/en/" title="English">EN</a></li>
                            <li><a href="/tr/" title="Turkish">TR</a></li>
                            <li><a href="/uz/" title="Uzbek">UZ</a></li>
                            <li><a href="/ru/" title="Russian">РУ</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        {% include "components/btn.html" %}
                    </li>
                </ul>
            </div>
            <div class="tt-menu-collapse tt-submenu-dark">
                <ul class="tt-menu-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="zeynep-news">News</a>
                    </li>
                    <li>
                        <a href="zeynep-about">About</a>
                    </li>
                    <li>
                        <a href="zeynep-contact">Contact</a>
                    </li>

                </ul>
            </div>

        </nav>
    </div>
</header>