<section id="footer" class="footer-minimal no-margin-top bg-transparent">
    <div class="footer-inner">
        <div class="footer-container tt-wrap">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <div class="social-buttons">
                        <ul>
                            <li>
                                <a href="https://t.me/yourusername"
                                    class="btn btn-social-min btn-default btn-rounded-full"
                                    title="Message me on Telegram" target="_blank">
                                    <i class="fab fa-telegram-plane"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.instagram.com/yourusername"
                                    class="btn btn-social-min btn-default btn-rounded-full"
                                    title="Follow me on Instagram" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>

                            <li><a href="contact.html" class="btn btn-social-min btn-default btn-rounded-full"
                                    title="Drop me a line" target="_blank"><i class="fas fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-md-pull-6">
                    <div class="footer-copyright">
                        <p>© Sepia 2025 / All rights reserved</p>
                        <p>By: <a
                                href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium"
                                target="_blank">Hardware and Software Services</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>