{% load static %}
<section id="about-me-section">
    <div class="about-me-inner">
        <div class="split-box about-me">
            <div class="container-fluid">
                <div class="row">
                    <div class="row-lg-height">
                        <div class="col-lg-5 col-lg-height split-box-image no-padding bg-image"
                            style="background-image: url('{% static " zeynep-resurs/RESURS/photo_intro.jpg" %}');
                            background-position: 50% 50%;">
                            <div class="sbi-height padding-height-80"></div>
                        </div>
                        <div class="col-lg-7 col-lg-height col-lg-middle no-padding">
                            <div class="full-cover for-light-style bg-gray-3 bg-image"
                                style="background-image: url('{% static " assets/img/intro/bg-pattern-1-dark.png" %}');
                                background-position: 50% 50%;"></div>
                            <div class="full-cover for-dark-style bg-gray-3 bg-image"
                                style="background-image: url({% static " assets/img/intro/bg-pattern-1-dark.png" %});
                                background-position: 50% 50%;"></div>
                            <div class="split-box-content sb-content-right">
                                <div class="tt-heading">
                                    <div class="tt-heading-inner">
                                        <h1 class="tt-heading-title">About</h1>
                                        <div class="tt-heading-subtitle">Who I am and what I do</div>
                                        <hr class="hr-short">
                                    </div>
                                </div>
                                <div class="margin-top-30">
                                    <p>Zeynep has been a leading company in the textile industry for more than 7 years
                                        is doing Our organization is committed to its excellent craftsmanship,
                                        innovative designs and customer satisfaction known for its focus. Here are the
                                        details for you to get to know Zeynep Triko better.</p>
                                </div>
                                <a href="about-me-fluid.html" class="btn btn-primary margin-top-20">Read More</a>
                                <a href="contact.html" class="btn btn-dark margin-top-20">Hire Me!</a>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>