{% load static %}
<section id="tt-intro" class="image-intro">
    <div class="tt-intro-inner overflow-hidden padding-height-40 min-height-1000">
        <div class="full-cover parallax-5 bg-image" style="background-image: url('{% static "zeynep-resurs/logo-bg.jpeg" %}')"></div>
        <div class="cover bg-transparent-2-dark"></div>
        <div class="intro-caption intro-caption-xxlg center">
            <h1 class="intro-title">
                <img class="top-center" style='transform: translateY(-100px)' src='{% static 'zeynep-resurs/logo.png' %}' alt="Logo" />
            </h1>
        </div>
    </div>
</section>