{% load static %}
<section id="testimonials-section" class="bg-dark bg-image-fixed"
    style="background-image: url('{% static "zeynep-resurs/logo-bg.jpeg" %}'); background-position: 50% 50%;">

    <span class="cover bg-transparent-7-dark"></span>

    <div class="testimonials-section-inner tt-wrap">
        <div class="testimonials-carousel tm-center">
            <div class="owl-carousel cursor-grab nav-outside dots-outside" data-items="1" data-loop="true"
                data-autoheight="true" data-nav="true" data-nav-speed="500" data-dots-speed="500" data-autoplay="true"
                data-autoplay-timeout="8000" data-autoplay-speed="500" data-autoplay-hover-pause="true">
                <div class="cc-item">
                    <div class="testimonial-item text-white">
                        <div class="tm-image bg-image" style="background-image: url(assets/img/blog/small/avatar/avatar-2.jpg); background-position: 50% 50%;">
                        </div>
                        <blockquote>
                            <p>"Duis vel ligula non neque varius eleifend quis id elit. Interdum et malesuada fames ac
                                ante ipsum primis in faucibus. Suspendisse lacus dui, pellentesque ut porta et,
                                consequat sit amet."</p>
                            <small>Anna Clarkson</small>
                        </blockquote>
                    </div>
                </div>
                <div class="cc-item">
                    <div class="testimonial-item text-white">
                        <div class="tm-image bg-image" style="background-image: url(assets/img/blog/small/avatar/avatar-3.jpg); background-position: 50% 50%;">
                        </div>
                        <blockquote>
                            <p>"Maecenas sit amet diam iaculis, lobortis tortor sed, bibendum quam. Nam mauris odio,
                                sodales interdum facilisis in, dignissim et massa. In suscipit quam nisi."</p>
                            <small>John Smith</small>
                        </blockquote>
                    </div>
                </div>
                <div class="cc-item">
                    <div class="testimonial-item text-white">
                        <div class="tm-image bg-image" style="background-image: url(assets/img/blog/small/avatar/avatar-4.jpg); background-position: 50% 50%;">
                        </div>
                        <blockquote>
                            <p>"Proin at tincidunt leo. Morbi ut metus sit amet purus molestie sollicitudin. Maecenas
                                convallis est vitae neque feugiat, in accumsan odio vestibulum. Pellentesque sodales
                                fermentum porttitor."</p>
                            <small>Jack Paterson</small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>